<!--<div class="row mt-2">-->
<!--  <div class="col">-->
<!--    <h4>Country details</h4>-->
<!--    <h5>{{ country.name }}</h5>-->
<!--    <p>{{ country.capital }}</p>-->
<!--    <p>{{ country.population }}</p>-->
<!--    <p>{{ country.alpha3Code }}</p>-->
<!--    <p>{{ country.region }}</p>-->
<!--  </div>-->
<!--</div>-->
