<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ country.name }}</h5>
      </div>
    </div>
  </div>
</div>
